body{
	
	background-color: #96B8B1;;
	

}
.error{
	border: 1px solid red !important;
}
.success{
	border: 1px solid green !important;
}

.bordered {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 80%;    
}
.bordered img{
	width: 24px;
	height: 24px;
}
.bordered input, textarea{
	border: 1px solid #999999;
	border-radius: 3px;
}
.bordered input{
	height: 20px;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    /*background: #fbf8e9;*/
    background: #78BDA3;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
	vertical-align: top;
}



.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.centreimage{
	width: 100px;
	height: 100px;
	margin-top: 120px;
    background-color: #000; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-size: 100%;
    border:1px #fff solid;
    border-radius: 2px;

} 
.centreimage1{
	position: absolute;
	width: 70px;
	height: 70px;
	margin-left: 150px;
	margin-top: 130px;
    border-radius: 50%;
    
    cursor: pointer;

} 
.centreimage1:hover
{  position: absolute;
	width: 70px;
	height: 70px;
	margin-left: 150px;
	margin-top: 130px;
    border-radius: 50%;
    opacity: .3;

} 

.centreimage2{
	position: absolute;
	width: 70px;
	height: 70px;
	margin-top: 130px;
	margin-left: 310px;
    border-radius: 50%;
    
    cursor: pointer;

} 
.centreimage2:hover
{
	width: 70px;
	height: 70px;
	position: absolute;
	margin-left: 310px;
	margin-top: 130px;
    border-radius: 50%;
     
    cursor: pointer;
    opacity: .3;

} 
.centreimage3{
	position: absolute;
	width: 70px;
	height: 70px;
	
	margin-left: 470px;
	margin-top: 130px;
    border-radius: 50%;
     
    cursor: pointer;

}
.centreimage3:hover
{   position: absolute;
	width: 70px;
	height: 70px;
	
	margin-left: 470px;
	margin-top: 130px;
    border-radius: 50%;
     
    cursor: pointer;
    opacity: .3;

} 
.centreimage4{
	position: absolute;
	width: 70px;
	height: 70px;
	margin-left: 623px;
	margin-top: 130px;
    border-radius: 50%;
    cursor: pointer;

} 
.centreimage4:hover
{
	position: absolute;
	width: 70px;
	height: 70px;
	
	margin-left: 623px;
	margin-top: 130px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .3;

} 
.centreimage5{
	position: absolute;
	width: 70px;
	height: 70px;
	margin-left: 779px;
	margin-top: 130px;
    border-radius: 50%;
     
    cursor: pointer;
    

} 
.centreimage5:hover
{
	position: absolute;
	width: 70px;
	height: 70px;
	margin-left: 779px;
	margin-top: 130px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .3;

} 
.centreimage6{
	position: absolute;
	width: 70px;
	height: 70px;
	margin-left: 920px;
	margin-top: 130px;
    border-radius: 50%;
    cursor: pointer;

} 
.centreimage6:hover
{	position: absolute;
	width: 70px;
	height: 70px;
	margin-left: 920px;
	margin-top:130px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .3;

} 
.centre1{
	position: absolute;
	width: 70px;
	height: 10px;
	margin-left: 150px;
	margin-top: 210px;
    text-align: center;
    color: #fff; 
    cursor: pointer;
    

}
.centre1:hover
{	position: absolute;
	width: 70px;
	height: 10px;
	margin-left: 150px;
	margin-top: 210px;
    text-align: center;
    color: #fff; 
    cursor: pointer;
    opacity: .3;
    

}
.centre2{
	position: absolute;
	width: 70px;
	height: 10px;
	margin-top: 210px;
	margin-left:310px;
    height: 70px;
	color: #fff;
	text-align: center;
	cursor: pointer;

} 
.centre2:hover{
	position: absolute;
	width: 70px;
	height: 10px;
	margin-top: 210px;
	margin-left: 310px;
    height: 70px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	opacity: .3;

} 
.centre3{
	position: absolute;
	margin-top: 210px;
	margin-left: 470px;
    width: 70px;
	height: 10px;
	color: #fff;
	text-align: center;
	cursor: pointer;

} 
.centre3:hover{
	position: absolute;
	margin-top: 210px;
	margin-left: 470px;
    width: 70px;
	height: 10px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	opacity: .3;

} 
.centre4{
	position: absolute;
	width: 70px;
	height: 10px;
	color: #fff;
	height: 70px;
	margin-top: 210px;
	margin-left:  623px;
   text-align: center;
   cursor: pointer;

} 
.centre4:hover
{	position: absolute;
	width: 70px;
	height: 10px;
	color: #fff;
	height: 70px;
	margin-top: 210px;
	margin-left: 623px;
   text-align: center;
   cursor: pointer;
   opacity: .3;

} 
.centre5{
	position: absolute;
	width: 70px;
	height: 10px;
	color: #fff;
	margin-top: 210px;
	margin-left: 779px;
	text-align: center;
    cursor: pointer;
    

} 
.centre5:hover
{	position: absolute;
	width: 70px;
	height: 10px;
	color: #fff;
	margin-left:779px;
	margin-top: 210px;
	text-align: center;
    cursor: pointer;
    opacity: .3;

} 
.centre6{
	position: absolute;
	width: 70px;
	height: 10px;
	margin-top: 210px;
	margin-left: 920px;
    color: #fff;
    text-align: center;
    cursor: pointer;

} 
.centre6:hover	
{	position: absolute;
	width: 70px;
	height: 10px;
	margin-top: 210px;
	margin-left: 920px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: .3;
}

.form1{
 
  margin-top: 20px;

}
input[type=text] {
	width: 200px;
	height: 27px;
	font: Verdana;
	font-size: 13px;
  border: 0px ;
  border-radius: 2px;
  background-color: #F8F8F8 ;
 
}
input[type=password] {
	width: 200px;
	height: 27px;
	font: Verdana;
	font-size: 13px;
  border: 0px ;
  border-radius: 2px;
  background-color: #F8F8F8 ;
 
}
input[type=submit] {
	width: 50px;
	height: 50px;
	border-radius: 50%;
    background-image: url("img/back.png"); 
}
.form2{

  margin-top: 20px;
}

.submit{
  margin-left: 59.375%%;
  margin-top: -50px;
}
.backimage{
	width: 40px;
	height: 30px;
	border-radius: 50%;
	margin-top: 230px;
	margin-left: 47.65625%;

	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	text-align: center;
}
.backimage1{
	position: absolute;
	width: 40px;
	height: 30px;
	border-radius: 50%;
	margin-top: 310px;
	
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.backimage1:hover{
	width: 40px;
	height: 30px;
	border-radius: 50%;
	margin-top: 310px;
	
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	text-align: center;
    opacity: .3;
    cursor: pointer;
}
.enterimage{
	width: 40px;
	height: 30px;
	border-radius: 50%;
	margin-top: -50px;
	margin-left: 266px;
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	text-align: center;
}
.enterimage:hover{
	width: 40px;
	height: 30px;
	border-radius: 50%;
	margin-top: -50px;
	margin-left: 266px;
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	text-align: center;
	opacity: .3;
}
button{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-position: center; 
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	background-image: url("../img/forward.png");
	cursor: pointer;
}
.loginerrormessage{

	text-align: center;
	margin-top: 10px;
	color: red;
	letter-spacing: 2px;
}
.profilepic{
    margin-left: 30px;
	width: 30px;
	height: 30px;
	background-color: #000;
}
.profilename{
	width: 90px;
	height: 15px;
	font-size: 14px;
	color: #fff;
	margin-left: 70px;
	margin-top: -30px;
	
}
.profileid{
	width: 90px;
	height: 15px;
	font-size: 14px;
	color: #fff;
	margin-left: 70px;
	margin-top: 1px;
	
}
.link{
	color: #fff;
}

.settings{

	width: 28px;
	height: 30px;
	margin-top: -90px;
	margin-left: 110%;
	background-color: #000;
	border-radius: 4px;
	background-image: url("images/settings2.png");
}
.settings:hover {

	width: 28px;
	height: 30px;
	margin-top: -90px;
	margin-left: 110%;
	background-color: #000;
	border-radius: 4px;
	background-image: url("images/settings2.png");
	opacity: .3;
	cursor: pointer;
}

.navmenuwrapper{
border-style: none;
width: 80%;
height: 50px;
margin-top: -3%;
margin-left: 12%;
border-radius: 4px;
border-width: 1px;




}
.navmenu{
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-width: 1px;
	border-right-color: #fff;
	border-style: dotted;
	width: 20%;
	height: 30px;
	margin-top: 5px;
	margin-left: 1px;
	font-style: gentium;
	font-size: 27px;
	text-align: center;
	color: #3B5998;
	cursor: pointer;
}
.navmenu:hover{
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-width: 1px;
	border-right-color: #fff;
	border-style: dotted;
	width: 20%;
	height: 30px;
	margin-top: 5px;
	margin-left: 1px;
	font-style: gentium;
	font-size: 27px;
	text-align: center;
	color: #fff;
	opacity: 0.7;
}
.cranacc1{
	position: absolute;
	width: 170px;
	height: 20px;
	margin-left: -80px;
	margin-top: 10px;
    font-size: 17px;
	color: #213F46;
	text-decoration: none;
	text-align: center;
}
.cranacc1:hover{
	position: absolute;
	width: 170px;
	height: 20px;
	margin-left: -80px;
	margin-top: 10px;
    font-size: 17px;
	color: #fff;
text-align: center;
    opacity: .7;
	
}

.seperator{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 1px;
	margin-top: 40px;
	margin-left: -137px;
	
}

.cranacc{
	position: absolute;
    width: 170px;
	height: 20px;
	margin-left: -80px;
	margin-top: 50px;
    font-size: 17px;
	color: #213F46;
	text-decoration: none;
	text-align: center;
}
.cranacc:hover{
	
	width: 170px;
	height: 20px;
	margin-left: -80px;
	margin-top: 50px;
    font-size: 17px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	opacity: .7;

}
.errormes{
	
	color:red;
	text-align: center;
}

.container1{
	margin-left: 10%;
    width:82%;
    margin-top: 0%;
    
    
    
    border-radius:3px;
}
.whitespace{
	width: 100%;
	height: 25px;
	margin: 1px;
	
}
.whitespace2{
	width: 100%;
	height: 12px;
	margin: 1px;
	
}
.whitespace3{
	width: 100%;
	height:2px;
}
.whitespace3{
	width: 100%;
	height:10px;
}
.container2{
	margin-left: 3%;
    width:69%;
    margin-top: 0%;
   
    
    border-radius:3px;
    
}

.appointmentc{
	width: 94%;
	height: 100px;
	margin-left: 3%;
	margin-top: -10px;
	padding-top: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	
	border-bottom-width: 1px;
	border-bottom-style:groove;
   
}

.appointmentpic{
     width:85px;
     height: 85px;
     margin-left: 1%;
     margin-top:.5%;
     border-radius: 4px;
     background-color: #c4cde0;
}
.appointmentdetails{
	width:84%;
     height: 85px;
     margin-left: 15%;
     margin-top:-12.5%;
     border-radius: 4px;
     
    
}

.appointmentname{
	width:27%;
     height: 20px;
     margin-left: 1%;
     margin-top:4px;
     
}
.info{
    margin-left: 70%;
    margin-top: -60px;
	width: 64px;
	height: 32px;
	line-height: 32px;
	border-radius: 3px;
	background-color: #3B5998;
	color: #fff;
	text-align: center;
	cursor: pointer;

}
.info:hover{
    margin-left: 70%;
    margin-top: -60px;
	width: 64px;
	height: 32px;
	line-height: 32px;
	border-radius: 3px;
	background-color: #3B5998;
	color: #fff;
	text-align: center;
	cursor: pointer;
	opacity: 0.4;

}
.info2{
    margin-left: 81%;
    margin-top: -42px;
	width: 86px;
	height: 10px;
	line-height: 10px;
	border-radius: 3px;
	background-color: #f6f7f8;
	color: #4e5665;
	border-color: #c5c6c8 ;
	border-width:1px;
	border-style: solid;
	padding: 1.5%;
	font-style:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	cursor: pointer;
}
.info2:hover{
    margin-left: 81%;
    margin-top: -42px;
	width: 86px;
	height: 10px;
	line-height: 10px;
	border-radius: 3px;
	background-color: #f6f7f8;
	color: #4e5665;
	border-color: #c5c6c8 ;
	border-width:1px;
	border-style: solid;
	padding: 1.5%;
	font-style:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	cursor: pointer;
	opacity: .4;
}
