input[type=checkbox]
{ display:none;
}
.day
{ width:30px;
  height:30px;
  background-color:#3B988E;
  color:#fff;
  
}
.any
{ margin-left:30px;
 width:30px;
 height:30px;
 background-color:#637382;
 color:#fff;
 }
 input[type=checkbox]:checked 
 {color:yellow;
 
 }