.aid{
	display: none;

}
input[type=text] {
	
	width: 200px;
	height: 20px;
	line-height: 20px;
    margin-top: 1.8%;
    margin-left: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    border-radius: 3px;
    background-color: #fff;
    font-style: gentium;
    font-size: 14px;
    color: #4e5665;
 
}