<?php 
"INSERT INTO doctors(dep,DID,fee,gender,HID,name,password,qual,rating,tel,mon,tue,wed,thu,fri,sat,sun,yoe ) 
VALUES ('ORTHOPAEDICS','123456','500', 'MALE', '234343','PRABHU','DRY','MBBS','3','454545454','4:30-5:50','4:30-5:50','4:30-5:50','4:30-5:50','4:30-5:50','4:30-5:50','5') "

INSERT INTO `doctors`(`DID`, `name`, `password`, `sun`, `sat`, `fri`, `thu`, `wed`, `tue`, `mon`, `dep`, `qual`, `gender`, `rating`, `yoe`, `fee`, `tel`, `HID`) VALUES ('123456','HAREKRISHNA','HAREHARE','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','ORTHOPAEDICS','MBBS','MALE','4','5','500','2131213223','223456')

INSERT INTO `doctors_info`( `name`, `password`, `dep`, `qual`, `gender`, `rating`, `yoe`, `tel`) VALUES ('mukesh','HAREHARE','neurologist','MBBS','MALE','4','5','2131213224')

INSERT INTO `doctors_info`( `name`, `password`, `dep`, `qual`, `gender`, `rating`, `yoe`, `tel`) VALUES ('saurabh','HAREHARE','dentist','MBBS','MALE','4','5','2131213234')


INSERT INTO `doctors` ( `DID`, `name`, `password`, `sun`, `sat`, `fri`, `thu`, `wed`, `tue`, `mon`, `dep`, `qual`, `gender`, `rating`, `yoe`, `fee`, `tel`, `HID`) VALUES ('123457','saurabh','HAREHARE','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','dentist','MBBS','MALE','4','5','400','2131213235','223456')

INSERT INTO `doctors`( `DID`, `name`, `password`, `sun`, `sat`, `fri`, `thu`, `wed`, `tue`, `mon`, `dep`, `qual`, `gender`, `rating`, `yoe`, `fee`, `tel`, `HID`) VALUES ('123458','mukesh','HAREHARE','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','5:30-6:50','neurologist','MBBS','MALE','4','5','300','2131213224','223347')


INSERT INTO `doctors_info`( `name`, `password`, `dep`, `qual`, `gender`, `rating`, `yoe`, `tel`) VALUES ('harsh','HAR','neurologist','MBBS','MALE','4','5','2131213233')
INSERT INTO `doctors_info`( `name`, `password`, `dep`, `qual`, `gender`, `rating`, `yoe`, `tel`) VALUES ('Mithilesh','HAR','neurologist','MBBS','MALE','4','5','8130833539')
INSERT INTO `doctors_info`( `name`, `user_password_hash`, `dep`, `qual`, `gender`, `rating`, `yoe`, `tel`) VALUES ('mukesh','HAR','sexologist','MBBS','MALE','4','5','8130833234')

<div class='appointmentc'>
<div class= 'appointmentpic'><img src='http://localhost/orfom/images/$tel.jpg' style='width:84px; height: 84px; border-radius:4px;'></img></div>
<div class='appointmentdetails'>
  <div class='whitespace3'></div>
  <div class='appointmentname'></div>
  <div class='appointmentname'></div> 
  <div class='appointmentname'></div> 
  <div class="info">Info</div>
  <div class="whitespace3"></div>
  <div class="info2">Appointment</div>
</div>



<div class="sidecontainer">
    <div class="searchcontainer">
      <div class="searchbox">
      <div class="searchicon"></div>
      </div></div>
    <div class="searchcontainer2">Gender
      <div class="searchbox"><div class="searchtype">Add..</div></div>
      </div>
 
    </div> 

<?php  $row1 = mysql_fetch_array($result);  endfor;?>    
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



qryApptSlots="SELECT tblDates.AppointmentDate, tblSlots.Slot, tblSlots.StartTime, tblSlots.EndTime, 
AppointmentDate+StartTime AS ApptKey
FROM tblDates, tblSlots";
qryBooked="SELECT tblAppointments.AppointmentDate, tblAppointments.StartTime, 
AppointmentDate+StartTime AS ApptKey
FROM tblAppointments";
SELECT qryApptSlots.AppointmentDate, qryApptSlots.Slot, qryApptSlots.StartTime
FROM qryApptSlots LEFT JOIN qryBooked ON qryApptSlots.ApptKey = qryBooked.ApptKey
WHERE (((qryBooked.ApptKey) Is Null));


SELECT tblDates.AppointmentDate, tblSlots.Slot, tblSlots.StartTime, tblSlots.EndTime, doctors.DID, doctors.HID, 
AppointmentDate+StartTime+DID+HID AS ApptKey
FROM tblDates, tblSlots,doctors






