body {
     background-color: #3b9885;
     margin: 0px;
}

#mapDiv {
     bottom: 0px;
     height: calc(100% - 96px);
     left: 40%;
     position: absolute;
     width: 60%;
}

#search {
     border: 3px solid black;
     font-size: large;
     height: 27px;
     left: 41%;
     position: absolute;
     top: 7px;
     width: 38%;
     z-index: 1;
}

.testOption {
     background-color: rgb(107, 148, 69);
     font-size: large;
     height: 100%;
     list-style: outside none none;
     position: absolute;
     width: 100%;
}

.testOption li {
     border: 1px solid black;
     cursor: pointer;
     margin: 1px;
     text-align: center;
}

#slotsDiv {
     background-color: rgb(245, 244, 244);
     bottom: 0px;
     height: 50%;
     position: absolute;
     width: 100%;
}

.selected {
     background-color: white;
}

#pickSlotDiv {
     background-color: rgb(156, 180, 219);;
     display: none;
     height: 40%;
     left: 30%;
     position: absolute;
     top: 30%;
     width: 40%;
     z-index: 2;
}

#exitIcon {
     cursor: pointer;
     left: -8px;
     position: absolute;
     top: -8px;
}

.slotTime {
     border: 1px solid black;
     cursor: pointer;
     display: inline-block;
     margin: 1px;
     width: 100px;
}

.slotTime:nth-of-type(2n+1) {
     background-color: black;
     color: yellow;
}

.slotTime:nth-of-type(2n) {
     background-color: white;
     color: black;
}

#wraper1 {
     text-align: center;
}

#testSelectOption {
     display: none;
}

#testInput {
     height: 22px;
     left: 10%;
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: 2px;
     width: 80%;
}

#testContainer {
     background-color: black;
     bottom: 0px;
     height: calc(100% - 96px);
     left: 0px;
     position: fixed;
     width: 40%;
}

.tab {
     border: 3px solid black;
     height: 35px;
     left: 6%;
     padding: 0px;
     position: relative;
     top: 7px;
     width: 14%;
     z-index: 2;
}

.testOption .tests {
     list-style: outside none none;
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: 26px;
     width: 100%;
}

.testOption select {
     border: 3px solid black;
     height: 29px;
     width: 80%;
}

#confirmDiv {
     background-color: black;
     display: none;
     height: 80%;
     left: 10%;
     position: fixed;
     top: 10%;
     z-index: 4;
}

.popup {
     display: block;
}

#exitImage {
     height: 25px;
     left: -25px;
     position: absolute;
     top: -2px;
     width: 25px;
}

#papa {
     background-color: white;
     border: 2px solid black;
     display: none;
     height: calc(100% - 101px);
     position: fixed;
     right: 0px;
     top: 98px;
     width: 336px;
}

#pathoNameDiv {
     background-color: #fbe6c7;
     border: 3px solid black;
     height: 27px;
     line-height: 27px;
     position: absolute;
     right: 2px;
     top: 56px;
     width: 19%;
     z-index: 3;
}

#header1 {
     background-color: #474b5c;
     height: 48px;
     left: 0px;
     position: fixed;
     top: 48px;
     width: 100%;
     z-index: 3;
}

#commands {
     background-color: #e9eaed;
     height: 50%;
     left: 25%;
     position: absolute;
     top: 25%;
     width: 50%;
}

#commands input {
     border-radius: 3px;
     border: 1px solid black;
     font-size: large;
     height: 36px;
     margin: 2px;
     width: 54%;
}

#commands textarea {
     font-size: large;
     height: 67px;
     margin: 5px;
     width: 54%;
}

#popExitIcon {
     height: 32px;
     left: -16px;
     position: absolute;
     top: -16px;
     width: 32px;
}

#popup {
     background-color: rgba(0, 0, 0, 0.88);
     display: none;
     height: 100%;
     position: fixed;
     width: 100%;
     z-index: 1007;
}

.proceed {
     background: -moz-linear-gradient(center top , #3b9885 105%, #45b59d 0%) repeat scroll 0% 0% #3b9885;
     border-radius: 4px;
     border: 1px solid #969696;
     box-shadow: 1px 1px 32px -29px #ffffff inset;
     color: #ffffff;
     display: inline-block;
     font-family: Arial;
     font-size: 15px;
     font-weight: normal;
     padding: 9px 18px;
     text-decoration: none;
     text-shadow: 1px 1px 0px #242424;
}

.proceed:hover {
     background: -moz-linear-gradient(center top , #45b59d 105%, #3b9885 0%) repeat scroll 0% 0% #45b59d;
}

.proceed:active {
     position: relative;
     top: 1px;
}
