#aid {
     display: none;
}

#prescription {
     bottom: 0px;
     height: calc(100% - 100px);
     left: 0px;
     position: absolute;
     width: 40%;
}

#chemists {
     background-color: #e5e3df;
     bottom: 0px;
     height: calc(100% - 100px);
     position: absolute;
     right: 0px;
     width: 60%;
}

#newFile {
     display: none;
}

#pincode {
     border-color: black;
     border-style: solid;
     border-width: 3px;
     font-size: medium;
     height: 33px;
     left: 41%;
     padding: 0px;
     position: absolute;
     top: 8px;
     width: 38%;
     z-index: 2;
}

#file {
     display: none;
}

#medicine_input {
     border-color: black;
     font-size: large;
     height: auto;
     margin: 0px;
     width: 90%;
}

.medicineQtyCellHead, .medicinePriceCellHead, .medicineNameCellHead {
     font-size: x-large;
}

.medicineNameCell, .medicineNameCellHead {
     width: 50%;
}

.medicineQtyCell, .medicinePriceCell, .medicinePriceCellHead, .medicineQtyCellHead {
     width: 25%;
}

#medicines, #aidDetails {
     width: 100%;
}

#medicines td, #aidDetails td {
     border: 1px dashed black;
}

#medicines input {
     margin: 0px;
     width: 100%;
}

#chemists button {
     border-radius: 5px;
     border: medium none;
     font-size: large;
     height: 30px;
     margin-right: 6px;
     width: 10%;
}

.chemistDetailsDiv {
     animation: 1s ease 0s normal none 1 running slideIn;
     background-color: rgba(196, 201, 218, 0.95);
     color: black;
     height: 99px;
     position: fixed;
     right: 0px;
     top: 82px;
     width: 300px;
}

@keyframes slideIn {
0% { right: -300px; }
100% { right: 0px; }
}

.loadingImage {
     left: calc(50% - 32px);
     position: absolute;
     top: calc(50% - 32px);
}

#presTab, #appointTab, #uploadTab {
    height: 31px;
margin: 0px;
padding: 0px;
position: absolute;
top: 9px;
width: 12.5%;
border-radius: 5px;
}

#uploadTab {
     left: 1%;
}

#appointTab {
     left: 27%;
}

#presTab {
     left: 14%;
}

.tab {
     background:-moz-linear-gradient( center top, #dfdfdf 22%, #ededed 83% );
    background:-ms-linear-gradient( top, #dfdfdf 22%, #ededed 83% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(22%, #dfdfdf), color-stop(83%, #ededed) );
    background-color:#dfdfdf;
    cursor: pointer;
}

.hiddentab {
     font-size:15px;
    font-family:Times New Roman;
    font-weight:normal;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #bababa;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #ededed 22%, #dfdfdf 83% );
    background:-ms-linear-gradient( top, #ededed 22%, #dfdfdf 83% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(22%, #ededed), color-stop(83%, #dfdfdf) );
    background-color:#ededed;
    color:#777777;
    display:inline-block;
    text-shadow:1px 1px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    cursor: pointer;
}
.hiddentab:hover{
    opacity: .9;
}

#aidSelect {
     border: medium none;
     font-family: courier;
     font-size: large;
     font-weight: bold;
}

#chemistsMap {
     height: 100%;
     width: 100%;
}

#popup {
     background-color: rgba(0, 0, 0, 0.88);
     display: none;
     height: 100%;
     position: fixed;
     width: 100%;
     z-index: 1007;
}

#commands {
     background-color: #e9eaed;
     height: 50%;
     left: 25%;
     position: absolute;
     top: 25%;
     width: 50%;
}

#commands input {
     border-radius: 3px;
     border: 1px solid black;
     font-size: large;
     height: 36px;
     margin: 2px;
     width: 54%;
}

#commands textarea {
     font-size: large;
     height: 67px;
     margin: 5px;
     width: 54%;
}

#popExitIcon {
     height: 32px;
     left: -16px;
     position: absolute;
     top: -16px;
     width: 32px;
}

#header2 {
     background-color: #474b5c;
     height: 48px;
     position: absolute;
     top: 48px;
     width: 100%;
}

#chemistNameDiv {
     background-color: #fbe6c7;
     border: 3px solid black;
     height: 27px;
     line-height: 27px;
     position: absolute;
     right: 2px;
     top: 56px;
     width: 19%;
}

#chemistDetailsDiv {
     background-color: white;
     border: 2px solid black;
     height: calc(100% - 101px);
     position: fixed;
     right: 0px;
     top: 98px;
     width: 336px;
}


#exitImage {
    height: 25px;
    left: -25px;
    position: absolute;
    top: -2px;
    width: 25px;
}

.proceed {
     font-size:15px;
     font-family:Arial;
     font-weight:normal;
     -moz-border-radius:4px;
     -webkit-border-radius:4px;
     border-radius:4px;
     border:1px solid #969696;
     padding:9px 18px;
     text-decoration:none;
     background:-moz-linear-gradient( center top, #3b9885 105%, #45b59d 0% );
     background:-ms-linear-gradient( top, #3b9885 105%, #45b59d 0% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b9885', endColorstr='#45b59d');
     background:-webkit-gradient( linear, left top, left bottom, color-stop(105%, #3b9885), color-stop(0%, #45b59d) );
     background-color:#3b9885;
     color:#ffffff;
     display:inline-block;
     text-shadow:1px 1px 0px #242424;
     -webkit-box-shadow:inset 1px 1px 32px -29px #ffffff;
     -moz-box-shadow:inset 1px 1px 32px -29px #ffffff;
     box-shadow:inset 1px 1px 32px -29px #ffffff;
}.proceed:hover {
     background:-moz-linear-gradient( center top, #45b59d 105%, #3b9885 0% );
     background:-ms-linear-gradient( top, #45b59d 105%, #3b9885 0% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b59d', endColorstr='#3b9885');
     background:-webkit-gradient( linear, left top, left bottom, color-stop(105%, #45b59d), color-stop(0%, #3b9885) );
     background-color:#45b59d;
}.proceed:active {
     position:relative;
     top:1px;
}