body {
     background-color: #e9eaed;
     font-family: "Freight Sans Bold","lucida grande",tahoma,verdana,arial,sans-serif;
     margin: 0px;
     text-align: center;
}

table {
     font-size: large;
     margin: 3px 0px;
     padding: 0px;
     position: relative;
     width: 80%;
}

table input {
     font-size: large;
     width: 95%;
}

table td {
     -moz-user-select: none;
     border-bottom: 1px solid #dddddd;
     border-spacing: 1px;
     font-size: 14px;
     height: 32px;
}

.mediName, .mediQty, .mediRemark, .testName, .testRemark {
     cursor: cell;
}

.action img {
     cursor: pointer;
     height: 32px;
     width: 32px;
}

.editable {
     background-color: white;
     cursor: text;
}


.mediQtyCell, .mediQty {
     width: 10%;
}

.mediName, .mediNameCell {
     width: 30%;
}

.mediRemarkCell, .mediRemark {
     width: 50%;
}

.testName, .testNameCell {
     width: 40%;
}

.testRemark, .testRemarkCell {
     width: 50%;
}

.header {
     background-color: #3b988e;
     height: 45px;
     width: 100%;
}
.tab {
     background-color: white;
     bottom: 0px;
     height: calc(100% - 74px);
     overflow: auto;
     position: relative;
     width: 100%;
}
.profilename {
     color: #ffffff;
     left: 60px;
     position: absolute;
     top: 0px;
     width: 168px;
}

.profileid {
     color: #ffffff;
     left: 60px;
     position: absolute;
     top: 14px;
     width: 166px;
}

#tabs {
     background-color: #f6f7f8;
     height: 44px;
     width: 100%;
}

#tabs button {
     background-color: #1D448E;
     border: 1px solid;
     color: white;
     cursor: pointer;
     font-family: "Freight Sans Bold","lucida grande",tahoma,verdana,arial,sans-serif;
     font-size: small;
     height: 50px;
     width: 20%;
}

.tab {
     background-color: white;
     bottom: 0px;
     height: calc(100% - 74px);
     overflow: auto;
     position: relative;
     width: 100%;
}

.prob {
     position: relative;
     top: 15px;
     font-size: 14px;
}

@keyframes zoom {
    from {
        width: 0;
        height: 0;
        left:50%;
        top:50%;
    }
    to {
        width: 100%;
        height: 100%;
        top:0%;
        left: 0%;
    }
}

@keyframes fade {
   from {
        width: 100%;
        height: 100%;
        top:0%;
        left: 0%;
    }
    to {
        width: 0;
        height: 0;
        left:50%;
        top:50%;
    }
}

#fileContainer {
    width: 90%;
    position: absolute;
    left: 5%;
    height: calc(100% - 74px);
    top: 21px;
}

#sideNav {
     position: absolute;
     width: 160px;
     top: 3px;
}

#patient {
    position: absolute;
    width: 150px;
    top: 40px;
    height: 150px;
}
    
#detailContainer {
    width: 90%;
    position: absolute;
    left: 5%;
    height: 50%;
    top: 21px;
}

#fileBox {
     position: absolute;
     
      top: 7px;
     width: 400px;
     height: 100%;
}

.popup{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(17,17,17,.8);
     overflow: auto;
     z-index: 10000;
}
.popup img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

