body{
	
	background-color: #e9eaed;

}
.hello23{
	width:600px;
	
}
#docpic
{float:left;
position:relative;
}
#docinfo
{float:right;
position:relative;
}
#hello{text-align:center;
display: inline-block;}
.hello1{display: inline-block;
    margin-left: 100px;
    margin-right: auto;
    height: 80px; }
.header{
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    width:102%;
    height:80px;
	background-color: #3b988e;
}
.profilepic{
	
    margin-left: 25px;
    margin-top: 8px;
	width: 30px;
	height: 30px;

	
}
.profilename{
	position: absolute;
	width: 90px;
	height: 15px;
	color: #fff;
	margin-left: 3px;
	margin-top: 6px;
	opacity: .9;
	

	
}
.profileid{
	position: absolute;
	width: 90px;
	height: 15px;
	color: #fff;
	margin-left: 3px;
	margin-top: 25px;
	opacity: .9;
	
	
}
.link{
	color: #fff;
}

.settings{
	position: absolute;
	width: 28px;
	height: 3px;
	margin-top: 7px;
	margin-left: 90%;
	border-radius: 4px;
	
}
.settings:hover {
	
    position: absolute;
	width: 28px;
	height: 3px;
	margin-top: 7px;
	margin-left: 90%;
	border-radius: 4px;
	opacity: .3;
	cursor: pointer;
}

.navmenuwrapper{
position: absolute;	
border-style: none;
width: 950px;
height: 44px;
line-height: 44px;
margin-left: 150px;





}
.navmenu{
	position: absolute;
	border-right-color: #fff;
	border-right-width: 1px;
	border-right-style: solid;
	width: 140px;
	height: 30px;
	line-height: 30px;
	margin-top: 8px;
	font-style: gentium;
	text-align: center;
	color: #fff;
	cursor: pointer;
	opacity: .8;
}

.navmenu:hover{
	position: absolute;
	width: 140px;
	height: 40px;
	line-height: 40px;
	margin-top: 4px;
	font-style: gentium;
	text-align: center;
	 box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
	color: #fff;
	opacity: .6;
	
}
.cranacc1{
	width: 170px;
	height: 20px;
	margin-left: 38%;
	margin-top: 1%;
    font-size: 17px;
	color: #427fed;
	text-decoration: none;
	text-align: center;
}
.cranacc1:hover{
	width: 170px;
	height: 20px;
	margin-left: 38%;
	margin-top: 1%;
    font-size: 17px;
	color: #fff;
    text-align: center;
    opacity: .7;
	
}

.seperator{
	background-image: url(img/seperator.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 1px;
	margin-top: 1%;
	margin-left: 2%;
}

.cranacc{
	
    width: 170px;
	height: 20px;
	margin-left: 38%;
	margin-top: 1%;
    font-size: 17px;
	color: #427fed;
	text-decoration: none;
	text-align: center;
}
.cranacc:hover{
	
	width: 170px;
	height: 20px;
	margin-left: 38%;
	margin-top: 1%;
    font-size: 17px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	opacity: .7;

}
.errormes{
	
	color:red;
	text-align: center;
}

.container1{

	margin-left: 10%;
    width:960px;
    margin-top: 0%;
    border-radius:3px;
}
.whitespace{
	width: 100%;
	height: 25px;
	margin: 1px;
	
}
.whitespace2{
	width: 100%;
	height: 12px;
	margin: 1px;
	
}

.whitespace3{
	width: 100%;
	height:-4px;
}
.container2{
	margin-left: 3%;
    width:69%;
    margin-top: 0%;
   
    
    border-radius:3px;
    
}

.appointmentc{
	width: 94%;
	height: 100px;
	margin-left: 3%;
	margin-top: -10px;
	padding-top: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	
	border-bottom-width: 1px;
	border-bottom-style:groove;
   
}

.appointmentpic{
     width:85px;
     height: 85px;
     margin-left: 1%;
     margin-top:.5%;
     border-radius: 4px;
     background-color: #c4cde0;
}
.appointmentdetails{
	width:84%;
     height: 85px;
     margin-left: 15%;
     margin-top:-12.5%;
     border-radius: 4px;
     
    
}

.appointmentname{
	position: absolute;
	width:27%;
     height: 15px;
     margin-left: 1%;
     margin-top:2px;
     color:#3b988e;
     
}
.appointmentname1{
	position: absolute;
	padding-bottom: 4px;
	width:48%;
     height: 30px;
     margin-left: 1%;
     margin-top:-10px;

     
}
.info{


    margin-left: 69%;
    margin-top: -65px;
	width: 64px;
	height: 32px;
	line-height: 32px;
	border-radius: 3px;
	background-color: #3b988e;
	color: #fff;
	text-align: center;
	cursor: pointer;

}
.info:hover{
    margin-left: 69%;
    margin-top: -65px;
	width: 64px;
	height: 32px;
	line-height: 32px;
	border-radius: 3px;
	background-color: #3b988e;
	color: #fff;
	text-align: center;
	cursor: pointer;
	opacity: 0.7;

}
.info2{
    margin-left: 81%;
    margin-top: -32px;
	width: 88px;
	height: 12px;
	line-height: 10px;
	border-radius: 3px;
	background-color: #f6f7f8;
	color: #4e5665;
	border-color: #c5c6c8 ;
	border-width:1px;
	border-style: solid;
	padding: 1.5%;
	font-style:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	cursor: pointer;
}
.info2:hover{
    margin-left: 81%;
    margin-top: -32px;
	width: 88px;
	height: 12px;
	line-height: 10px;
	border-radius: 3px;
	background-color: #f6f7f8;
	color: #4e5665;
	border-color: #c5c6c8 ;
	border-width:1px;
	border-style: solid;
	padding: 1.5%;
	font-style:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	cursor: pointer;
	opacity: .7;
}

.sidecontainer{
   position: fixed;
   width: 283px;
   height: 330px;
   background-color: #fff;
   margin-top: 94.5px;
   top:-23px;
   left: 860px;
   z-index: 2;


}
.searchcontainer{
   position: fixed;
   width: 283px;
   height: 34px;
   
   margin-left: 0%;
   background-color: #3b988e;
  

}

.searchbox{
	position: fixed;
	width: 200px;
	height: 20px;
	line-height: 20px;
    margin-top: .4%;
    margin-left: 2.4%;
    background-color: #fff;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    border-radius: 3px;
    background-color: #fff;


}


.searchicon{
    width: 10%;
    height: 100%;
    margin-left: 90%;
    background-repeat: no-repeat;

    background-image: url("../img/search.png");


}
.searchicon:hover{
    width: 10%;
    height: 100%;
    margin-left: 90%;
    background-repeat: no-repeat;
    background-image: url("../img/search.png");
    cursor: pointer;

}

.customsearch{
	border-style: solid;
	border-width: 1px;
	border-color: #c5c6c8 ;
	border-radius: 2px;
	margin-left: 110px;
	margin-top: -22px;
	 width: 154px;
	 height: 24px;
	color: #fff;
	 background-color: #f6f7f8;
}
.customsearch1{
	margin-left: 243px;
	margin-top: -23px;
	 width: 20px;
	 height: 20px;
	 background-color: #000fff;
	 z-index: 2;
}
.customsearch1:hover{
	margin-left: 243px;
	margin-top: -23px;
	 width: 20px;
	 height: 20px;
	opacity: .3;
	 background-color: #000fff;
	 cursor: pointer;
}
.customsearch2{
	color: #4e5665;
	margin-left: 2px;
	margin-top: 6px;
	 width: 100px;
	 height: 20px;
     text-align: right;
	 
}
input[type=text] {
	
	width: 200px;
	height: 20px;
	line-height: 20px;
    margin-top: 1.8%;
    margin-left: 14.4%;
    background-color: #fff;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    border-radius: 3px;
    background-color: #fff;
    font-style: gentium;
    font-size: 14px;
    color: #4e5665;
 
}
button[type="submit"]{
display: inline-block;
   
   margin-top: 60px;
   margin-left: 550px;
    margin-right: auto;
   
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
button[type="submit"]:hover{

	cursor:pointer;
	display: inline-block;
   
   margin-top: 60px;
   margin-left: 550px;
    margin-right: auto;
   
    width: 100px;
    height: 100px;
    border-radius: 50%;
	
}
input[type=submit] {
	 width: 35px;
    height: 35px;
    margin-left: 80%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

input[type=submit] :hover{
	 width: 35px;
    height: 35px;
    margin-left: 80%;
    background-repeat: no-repeat;
    background-color: #000;
    border-style: none;
    background-image: url("../img/search.png"); 
    opacity: .3;
    cursor: pointer;
}


.docdtail{
	margin:2px;
	width:20px;
	height:10px;
	background-color: #000;
	color: #fff;
}
.space1{

	height:10px;
	width: 100%;
	margin-top: -10px;
}
.containerh{
   
    width:500px;
    height:500px;
    margin-left:50px;


}
.txtt{
	padding:4px;
	width:49px;
	height:20px;
	margin-left:10px;
	background-color: #e9eaed;
	color: #fff;

}
.maincont{
	
	width: 900px;
	min-height:300px;
	background-color: #fff;
}
.mainws{
	width: 900px;
	height:150px;
	margin-left:0px;
	margin-top: 50px;
	background-color: #fff;
}
.NOH{
	width:300px;
	margin-left:15px;
	margin-top: 10px;
	background-color:#C0C0C0;
}
.PlaceOH{
	width: 300px;
	margin-left: 15px;
	background-color:#C0C0C0;
}
.timingODinH{

	width:300px;
	margin-left:15px;
	background-color: #A8A8A8;
}
.calendar{
	
	width: 250px;
		
}
.dateAndDetails{
	width:330px;
	
}
.slots{
	width: 330px;
	background-color: #f6f7f8;
}
.Emptyslots{

	margin-left: 20px;
	margin-top: 20px;
}
.sampleSlots{
	width: 330px;
	height:190px;
	margin-top: 10px;
	
	background-repeat: no-repeat;
	cursor: crosshair;
}
.wrapper4pg2{

	width: 500px;
	height: 100px;
	margin-left: 50px;
	margin-top: 10px;
	background-color: #fff;

}
.box1{

	margin-top: 10%;
	margin-left: 30%;
	padding: 1%;
	width: 400px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}