#search {
    width: 100%;
    position: absolute;
    top: 40px;
    margin-left: 0;
    margin-top: 2px;
}

.command{
    font-size:x-large;
    height:40px;
    width:40px;
    cursor:pointer;
    background-color:white;
}

#search_input {
    font-size: xx-large;
    width: 60%;
    border: #000 1px dashed;
    vertical-align:top;
    height:40px;

}

.tableHead{
    font-size: xx-large;
}

#medicine_table {
    position: relative;
    top: 42px;
    width: 70%;
    left:15%;
    text-align: center;
    font-size: x-large;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-spacing: 0;
    box-shadow: 0 1px 1px #ccc;
}

body{
    background-color: #3B9885;
}

#medicine_table td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-spacing: 0;
}

#medicine_table input {
    border: 0px;
    color: #000;
    font-size:x-large;
    width:90%;
}

#medicine_table input:hover {
    background-color: #fff;
    border: 0px;
    color: #000;
    font-size:x-large;
}
