#orders {
    background-color: #165448;
    border: 2px solid red;
    color: white;
    font-size: large;
    left: 0;
    list-style: outside none none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    position: absolute;
    top: 40px;
    width: 300px;
    height:calc(100% - 45px);
}


#container {
    border: 1px dashed black;
    height: calc(100% - 45px);
    position: fixed;
    right: 0;
    top: 40px;
    width: calc(100% - 305px);
    overflow:auto;
}

body {
    background-color: #3b988e;
}

#orders .selected {
    background-color: #eee;
    color: black;
}

#orders li {
    cursor: pointer;
    border: 1px solid red;
}

#orders li:hover {
    background-color: green;
}

#loading {
    display: none;
    margin-top: -128px;
    position: relative;
    top: 50%;
}

#pres {
    font-size: x-large;
    width: 100%;
}

.nameCell {
    width: 40%;
}
.qtyCell{
    width: 10%;
}
.priceCell{
    width: 30%;
}
.caCell{
    width: 10%;
}

#pres td {
    font-weight: normal;
    border: 1px dashed black;
}

