body{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
}

#header {
	background-color: #3B988E;
	width: 100%;
	height: 40px;
	margin-top:0px;
	margin-left:0px;
	font-size: 30px;
}

.nav {
	width: 25%;
	text-align: center;
}

#nav1 #nav2{
	width: 25%;
	
}

#nav1:hover{
	box-shadow: 10px 10px 50px 20px #165448 inset;
}

#nav2:hover{
	box-shadow: 10px 10px 50px 20px #165448 inset;
}


a{
	color: #B6EAE8;
	text-decoration: none;
}

#nav0 {
	text-align: left;
}

#nav3{
	text-align: right;
}