font.med{font-size:11px}
font.index{font-size:11px}
font.small{font-size:9px}
font.big{font-size:12px;font-weight:700;color:#000}
font.big2{font-size:12px;font-weight:700;color:#000}
font.red{font-size:11px;font-weight:700;color:red}
font.bigred{font-size:12px;font-weight:700;color:red}
font.white{color:#FFF}
.index1{background-color:#b7cbcf}
.index2{background-color:#e6e6e6}
.indexbold{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:700}
.tdshade2{background-color:#e6e6e6}
.bodyblue{color:#039}
.bodyblackTB{padding-right:11px;padding-left:11px}
.bodyblueTB{color:#039}
.headerTB{font-weight:700;text-decoration:none;padding-right:5px;padding-left:5px}
select{text-decoration:none;background:#FFF}
option{text-decoration:none;background:#FFF}
textarea{text-decoration:none;background:#FFF;border:1px solid #999}
table.addontable{border:2px #d4e4e8 solid}
td.bwtableb{border-bottom:2px #d4e4e8 solid}
td.bwtable{border-top:2px #d4e4e8 solid}
td.addontable{border:1px #005b70 solid}
.bwtable{border:#000;text-align:center}
.bwhead{border:1px #000 solid}
.bwtdh1{border:1px #000 solid;background-color:#DDD}
.bwtdh2{border:1px #000 solid}
.bwtd1{border:0 #000 hidden;background-color:#DDD}
.bwtd2{border:0 #000 hidden;background-color:#EEE}
.sbar{color:#005b70;background-color:#005b70;height:2px}
fieldset{border:#26a solid 1px;width:98%}
legend{color:#000;position:static;top:-0.5em;font-weight:700}
input.nb{color:#000;text-decoration:none;background:#FFF;border:0 solid #999;-moz-background-clip:padding}
.leger3{border-right:1px solid #000;border-left:1px solid #000;border-top:2px solid #000}
ul.cpaddons{margin:0;padding:0}
li.cpaddons{padding:5px}
h5.cpaddons{margin:1px 0 2px;padding-top:5px}
h4.cpaddons{font-size:14px;margin:1px 0 2px;padding-top:5px;color:#2f6681;font-family:verdana,arial,helvetica,sans-serif}
h3.cpaddons{font-size:14px;margin:1px 0 2px;padding-top:5px;background:0;border:0;text-align:left}
h2.cpaddons{font-size:15px;margin:5px 0 11px;padding-bottom:5px;border-bottom:2px solid #999}
h2.cpaddonsline{margin:0 0 5px;border-bottom:2px solid #999}
.redtext{color:#A00}
.tbl-cgi,.tbl-cgi td{border:1px solid #999}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2}
.yui-panel{position:relative}
.yui-panel-container form{margin:0}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0}
.mask.block-scrollbars{overflow:auto}
.masked select,.drag select,.hide-select select{_visibility:hidden}
.yui-panel-container select{_visibility:inherit}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden}
.hide-scrollbars select{display:none}
.show-scrollbars{overflow:auto}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none}
.yui-tt-shadow{position:absolute}
.yui-override-padding{padding:0!important}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px}
.overlay{position:absolute;display:block}
.tt{visibility:hidden;position:absolute;color:#333;background-color:#fdffb4;font-family:Verdana,Arial,Helvetica,sans-serif;padding:2px;border:1px solid #fcc90d;width:auto}
* html body.masked select{visibility:hidden}
* html div.panel-container select{visibility:inherit}
* html div.drag select{visibility:hidden}
* html div.hide-select select{visibility:hidden}
.hide-scrollbars *{overflow:hidden}
.hide-scrollbars textarea,.hide-scrollbars select{overflow:hidden;display:none}
.show-scrollbars textarea,.show-scrollbars select{overflow:visible}



#win{visibility:hidden}
#cpanel_status_widget{-moz-box-shadow:0 5px 10px #888;-webkit-box-shadow:0 5px 10px #888;left:50%;margin:0 0 0 -150px;padding:8px 10px;position:fixed;text-align:center;top:25px;width:300px}
.cpanel_status_error{background:#ffbaba;border:1px solid #e3655a}
.cpanel_status_success{background:#e8fcea;border:1px solid #6dc462}
.cpanel_status_warning{background:#f6e082;border:1px solid #6dc462}
.group:after{visibility:hidden;display:block;clear:both;height:0;font-size:0;content:" "}
.group{display:inline-block}
/*\*/* html .group{height:1%}
.group{display:block}
/**/img,object,embed{max-width:100%}
#cpanel{width:763px;margin:0 auto;padding:3px;border-bottom:1px solid #666;border-right:1px solid #666;border-top:1px solid #ccc;border-left:1px solid #ccc;background-color:#fff}
#cpanel #border-efx{margin:0;padding:0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #666;border-left:1px solid #666}
#cpanel #border-efx #heading-top-header-bg{margin:-2px 0 0 0;padding:0;height:145px;width:100%}
#cpanel #border-efx #heading-top-header-bg #heading-top-billboard{position:relative;top:0;left:0;margin:0;padding:0;width:100%}
#cpanel #border-efx #heading-top-header-bg #heading-top-billboard #logo{position:absolute;top:35px;left:580px}
#cpanel #border-efx #content{width:100%;margin:0 auto;padding:0}
#cpanel #border-efx #header #heading-top_01_bg{width:auto}
#cpanel #border-efx #header #heading-top_01-sm_bg{height:98px;width:auto}
#cpanel #border-efx #content #switch{width:auto}
#cpanel #border-efx #content #sub{width:221px;min-height:300px;float:left;margin:5px 5px 0 14px;padding:0}
#cpanel #border-efx #content #main{width:497px;float:right;min-height:300px;margin:0 15px 0 5px;padding:0}
#cpanel #border-efx .footer{width:100%;height:20px}
#cpanel #border-efx #content #main-content{width:auto;border:1px solid #000;margin:0 5px 0 0;padding:0}
.footer_ul{list-style:none;margin:0;padding:0;text-align:center}
.footer_li{display:inline}
.footer_li_a{margin:0 10px 0 10px}
.clear:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.clear{display:block;overflow:hidden}
.clearit{clear:both}
.clearith{height:7px;clear:both}
.clearitmed{height:4px;line-height:4px;clear:both;font:4px}
.clearitsm{height:1px;line-height:1px;clear:both;font:1px}
a{color:#014d5f;text-decoration:none}  
a:hover{color:#f3960b;text-decoration:underline}
.sortable a:hover{color:#f3960b;text-decoration:none}
.return-link-top{padding-top:20px;padding-bottom:8px;text-align:center}
.related .dependent-action{background-color:#f3f3f3;-moz-border-radius:3px;border-radius:3px}
.related .dependent-action:hover{background-color:#c3c3c3;color:#01748d;text-decoration:none}
.jump{margin-left:-11px;font-size:10px;float:right}
.jump img,.jump a{vertical-align:middle}
.jump-down{margin-top:2px}
.fake_anchor:hover{color:#f3960b;text-decoration:underline}
.sortable td a:hover.create-button{color:#000}



 
#cpaddon a{text-decoration:underline}
#optionselect-content h1{font:18px Arial,Helvetica,sans-serif bold;color:#014251}
#optionselect-content h2{font:14px Verdana,Arial,Helvetica,sans-serif bold;padding-bottom:0;color:#014251}
.nowrap-td{word-wrap:break-word;overflow:hidden;width:109px}
.formtbl{font-size:12px;font-family:Verdana,Arial,sans-serif;border:0;border-collapse:collapse}
.formtbl .nobrds{border:0}
.formtbl .info-odd{background-color:#f3f3f3;border-bottom:1px solid #ccc;padding:5px}
.formtbl .info-even{background-color:#fff;padding:5px;border-bottom:1px solid #ccc}
.bwtableb{text-align:left}
#sortable-search form{padding:0;margin:0}
#sortable-search{margin:0 0 5px 0}
.statusmsg,.warningmsg,.errormsg,.okmsg{font-weight:normal;margin:0 0 0 15px;padding:5px 0 5px 25px}
.warningmsg{background:transparent url(/cPanel_magic_revision_1399071751/yellow-status.gif) no-repeat scroll left center}
.errormsg{background:transparent url(/cPanel_magic_revision_1399071795/red-status.gif) no-repeat scroll left center}
.okmsg{background:transparent url(/cPanel_magic_revision_1399071749/green-status.gif) no-repeat scroll left center}
#handheld-head{display:none}
#faa,#notices,#quota-warnings,#jump-search{border:1px solid #ccc;margin-bottom:7px;padding:0;width:auto}
#sub #jump-search{text-align:center}
#content-stats h3,#content-stats h3:hover{cursor:pointer;cursor:hand}
#faa h6,#notices h6,#quota-warnings h6,#content-stats h6,#jump-search h6{margin:0;padding:0;background:url(../branding/tbl-bg.jpg) repeat-x bottom;border-bottom:2px #ccc solid;font:12px Verdana,sans-serif;color:#333;font-weight:700;text-align:center}
#faa h3{margin-bottom:5px}
#faa p,#notices p,#quota-warnings p,#jump-search p{text-align:left;margin:0 5px 5px;padding:0}
#faa ul,#notices ul{margin:0;padding:0}
#faa li,#notices li{list-style:none;margin:0;padding:0}

#fileman td{font:9px Verdana,Arial,Helvetica,sans-serif}
td.reseller-drop{text-align:center;font-size:11px}
#manage-list{clear:both;margin:0 0 20px 0}
#togglebox{float:right;font-size:10px;margin:0;padding:0}
.sortarrow{padding:0;margin:0 0 0 -5px;font-size:14px}
.spaced{line-height:24px}
.select-drop{padding:0}
#stats-but{text-align:center}
#stats-but a{text-align:center;display:inline}
.nomargins{margin:0;padding:0}
.clearit{clear:both;margin:0;height:7px;padding:0}
.section-indent{margin-left:24px;margin-top:-6px}
caption{font-weight:700}
.output b{font-weight:900}
.output{overflow:auto;background-color:#f3f3f3;font-family:"Andale Mono","Courier New",Courier,monospace;color:#000;font-size:12px;border:1px solid #555}

.errortext{background-color:red;color:#FFF;font-family:Arial,sans-serif;font-size:13px;padding:5px}
.details,.details-noscript{background-color:#ccc;padding:8px;border:1px #aaa solid;overflow:auto;display:none;font-weight:normal;font-family:Verdana,Arial,helvetica,sans-serif;font-size:12px;width:500px;margin:0 auto}
.details-noscript{display:block}
.error-details{background-color:#ccc;padding:8px;border:1px #aaa solid;overflow:auto;font-weight:normal;font-family:Verdana,Arial,helvetica,sans-serif;font-size:12px;width:500px}
.hidden-img{display:none}
#latest-visit fieldset{width:100%;display:inline-table}
#latest-visit li{list-style-image:url(../images/display.jpg)}
#latest-visit{font-size:11px}
.app-status{text-transform:capitalize}
.alert_box{background-color:#f9d1d1;border:1px solid #CCC;padding:12px 5px 15px 5px;margin-bottom:12px}
ul{list-style:none}
#center{text-align:center}
#cpaddonname{font-size:12px}
#cpaddoncategory{font-size:11px}
#logo-top-logo-rzwrap{z-index:100}
#logo-top-logo-rzwrap .yresizable-handle{width:11px;height:11px;background:transparent url(/yui/yui-ext/resources/images/sizer/square.gif) no-repeat;margin:0}
#logo-top-logo-rzwrap .yresizable-handle-east,#logo-top-logo-rzwrap .yresizable-handle-west{top:45%}
#logo-top-logo-rzwrap .yresizable-handle-north,#logo-top-logo-rzwrap .yresizable-handle-south{left:45%}
img.logo_edit{background:#ddd url(/cPanel_magic_revision_1399071670/frontend/x3/images/checkerboard.gif) repeat}

.module-path{background-color:#eee;border:1px solid #ccc;padding:3px}
p.highlight-accordian-desc{padding:5px 0 7px -1px;margin:0}
.highlight-wdesc{background:#EEE;border:1px solid #ccc;padding:0 5px 10px 5px}
.sec-hightlight{padding:10px;border:solid 1px #eee;background:#f6f6f6;margin-bottom:10px}


#module-output{background:#EEE;border:1px solid #ccc;overflow:auto;padding:0 10px;width:680px}
.module-table{width:100%}
.module-table th,.module-table td{padding:5px}
.module-table th{background:#eee;border:1px solid #ccc;border-width:1px 0;font-weight:normal;text-align:left;text-transform:uppercase}
.module-table tr:hover{background:#f5f5f5}
.module-table td{border-bottom:1px solid #ccc;color:#333}
.module-table td:hover{color:#000}
.threecontainer{width:100%;text-align:center}
.threebox{float:left;text-align:center;width:205px}
.ftplogo{width:205px;height:82px;text-align:center}
.cap{margin-bottom:10px;font-weight:bold}
.appname-cell{width:70%}
.rewrite-cell{width:30%}
.url-input{background:#eee;border:1px solid #ccc;font-size:11px;width:75px}
.url-input:focus{background:#fff;border:1px solid #ccc;color:#000}
#cpanel #border-efx #heading-top-header-bg #heading-top-billboard #logo{top:48px;left:504px}
.input-button-nobg{background:0;height:22px;color:#014d5f;vertical-align:middle;font:11px Verdana,sans-serif;border:1px outset #f0f0f0}
.missinglangkey{border:1px dotted #f00}
.utf8message{background:#f5f5f5;border:1px solid #eee;font-weight:bold;padding:10px;color:#f00;line-height:16px}
.utf8message a{color:#f00}
.searchbox{background-color:#cfcfcf;border:1px solid #aaa;font-family:Verdana,Arial,helvetica,sans-serif;font-size:12px;font-weight:normal}
.searchhide{display:none}
.smalltext{font-size:9px}
.jumptext{font-size:11px}
.largetext{font-size:16px}
.formverifyfailed{background-color:#faa}
.smalltext a{background-color:#ddd;border:1px #aaa outset}
#gen_pw_box{padding:10px}
.yui-panel .bd p.validation_msg,.panel .bd p.validation_msg,.validation_msg{color:#ff0505;border-bottom:solid 1px #eee;font-weight:bold;padding:0 0 10px 20px}
#cpanel_body .yui-panel .bd .content,#cpanel_body .panel .bd .content{height:auto;min-height:1px}
#ftp_settings ul{margin:0}
#ftp_settings ul li{margin:2px 0 0 -51px;padding:0}
*+html #ftp_settings ul li{margin:2px 0 0 -11px}
* html #ftp_settings ul li{margin:2px 0 0 -11px}

#contactinfo ul{margin:0;padding:0}
#contactinfo li{width:45%;float:left;padding:5px}
#contactinfo h2{font-size:14px;color:#00566a}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2}
.yui-panel{position:relative}
.yui-panel-container form{margin:0}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0}
.mask.block-scrollbars{overflow:auto}
.masked select,.drag select,.hide-select select{_visibility:hidden}
.yui-panel-container select{_visibility:inherit}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden}
.hide-scrollbars select{display:none}
.show-scrollbars{overflow:auto}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none}
.yui-tt-shadow{position:absolute}
.yui-override-padding{padding:0!important}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px}
span.cjt_validation_error{display:inline-block}

.help_panel{background:#fff;border:1px solid #aeaeae;padding:0 0 5px}
.help_panel .bd{border-width:0;padding:8px 10px}
.help_panel .container-close{background:none!important;height:auto;padding:0 0 5px 10px;position:static;text-indent:0;width:auto}

.validation_errors_modal_box_ul{list-style-type:disc;margin:0 10px 15px 25px;padding:0 10px}
.validation_errors_modal_box_actions{padding-top:0;padding-bottom:10px;text-align:center}
#validation_errors_modal_box .bd{border-bottom:0;padding-bottom:0}
.validation_errors_modal_box_actions *{margin-right:auto;margin-left:auto}
.help_panel .ft{border:0;padding:0 13px 3px 0}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;-moz-opacity:.5;opacity:.50;filter:alpha(opacity=50);background-color:#000}

input#generate_password_input_field{font-size:18px;padding:3px}


.dynamic_table{border:1px solid #ccc;margin:0 auto;width:100%}
.dt_header_row td,.dt_header_row th{padding:10px 0;text-align:center}
.dt_module_row,.dt_module_row td{padding:0}

table.dt_module_table{margin:0 auto}
.dt_module_table td{padding:3px}
.dt_module_table input[type=text]{width:150px}
td.align_right{text-align:right}
.cjt-notice-container .bd{position:relative}
div.cjt_status_bar_countdown{position:absolute;bottom:2px;font-size:8px}
html[dir="ltr"] div.cjt_status_bar_countdown{right:2px;text-align:right}
html[dir="rtl"] div.cjt_status_bar_countdown{left:2px;text-align:left}

.cancel_link{margin:0 8px}
.dt_confirm_but{margin-right:13px}
#help-content h2{font-size:14px}
#help-content h1{font-size:16px}
#help-content p,#help-content li{font-size:12px;line-height:1.4}
#helplinks ul{margin:0 0 0 25px;padding:0}
#helplinks ul li{margin:5px 0;padding:0}
#menu_drag_el{opacity:.67;filter:alpha(opacity=67);font-size:10px;background-color:white}

#boxes{position:relative}
.cellbox{width:auto}
.cellbox-body{overflow:hidden;width:100%;margin-top:9px;margin-left:0;margin-right:0;padding:0;zoom:1;clear:both}
h6.index_box_header{margin-bottom:0}
h6.no_bottom_border{border-bottom-width:0}
.celldrop{display:none}
#notify{width:365px;margin:45px auto}
#notify a{text-decoration:underline;font-size:12px}
#notify a:hover{text-decoration:none}
#notify p,#failure p{margin:0 0 10px 0;padding-left:30px;padding-top:3px}
.error-notice,.answers-notice,.warn-notice,.info-notice,.success-notice,#failure{filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#fbfbfb,endColorStr=#e5e5e5);background-color:#e5e5e5;background-image:-moz-linear-gradient(#fbfbfb,#e5e5e5 30px);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbfbfb),color-stop(30,#e5e5e5));background-image:-o-linear-gradient(#fbfbfb,#e5e5e5 30px);background-image:-ms-linear-gradient(#fbfbfb,#e5e5e5 30px);-cp-background-image:linear-gradient(#fbfbfb,#e5e5e5 30px);background-image:linear-gradient(#fbfbfb,#e5e5e5 30px);padding:5px 5px 8px 5px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;font-size:11px;color:#444;text-shadow:0 1px 0 #fff;font-weight:bold}
.error-notice,#failure{border:2px solid #c43335}
.warn-notice,.answers-notice{border:2px solid #faa661}
.info-notice{border:2px solid #3e7f99}
.success-notice{border:2px solid #7ab443}
#login-status .login-status-icon,.error-notice .login-status-icon{display:block;position:absolute;width:21px;height:21px}
.error-notice .login-status-icon{background-image:url(../images/notice-error.png)}
#login-status.error-notice .login-status-icon{background-image:url(../images/notice-error.png)}
#login-status.info-notice .login-status-icon{background-image:url(../images/notice-info.png)}
#login-status.success-notice .login-status-icon{background-image:url(../images/notice-success.png)}
#login-status.warn-notice .login-status-icon{background-image:url(../images/warning.png)}
#login-status-message{padding-left:30px;padding-top:3px}
html[dir=rtl] #login-status-message{padding-left:0;padding-right:30px}

.pager-ellipse{background:#fff}

abbr{border-bottom:1px dotted black}
.wbr:after{content:"\00200B"}

.validation_errors_modal_box_ul {
	padding: 0;
}

