body {

	background-image: url(../../img/bgforuser.png);
}
.inputLabel {
	color: #fff;
	width: 300px;
	height: 38px;
	margin-top: 2%;
	margin-left: 38%;
	font-size: 15px;
}
.inputErrorText {
	width: 180px;
	height: 25px;
	margin-top: -3.5%;
	margin-left: 48%;
}
.inputErrorSymbol {
	width: 20px;
	height: 20px;
	margin-top: -1.6%;
	margin-left: 62.2%;
}

.login_input {

	font-size: 13px;
	background-color: #fff;
	border-radius: 5px;
	width: 330px;
	height: 43px;
	margin-left: 38%;
}
input[type=submit] {
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-image: url("../../img/signupbutton.png");
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.enterimage {
	background-repeat: no-repeat;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	margin-top: 0%;
	margin-left: 56%;
	background-image: url("../../img/signupbutton.png");
	background-position: center;
	opacity: .6;
}
.enterimage:hover {
	background-repeat: no-repeat;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	margin-top: 0%;
	margin-left: 56%;
	background-image: url("../../img/signupbutton.png");
	background-position: center;
	opacity: .5;
}

.back {
	text-align: center;
	color: #fff;
	width: 70px;
	height: 70px;
	margin-left: 40%;
	border-radius: 40%;
	margin-top: -74px;
	background-image: url("img/back.png");
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.error {
	margin-left: 31%;
	width: 500px;
	height: 20px;
	font-size: 18px;
	text-align: center;
	color: red;
}
#login_input_username {
	background-position: right;
	border: 1px;
	background-image: url(../../img/usericon.png);
	background-repeat: no-repeat;
}
#login_input_password_new {
	background-position: right;
	border: 1px;
	background-image: url(../../img/lockicon.png);
	background-repeat: no-repeat;
}
#login_input_password_repeat {
	background-position: right;
	border: 1px;
	background-image: url(../../img/lockicon.png);
	background-repeat: no-repeat;
}
#login_input_usernumber {
	background-position: right;
	border: 1px;
	background-image: url(../../img/phoneicon.png);
	background-repeat: no-repeat;
}