#orders {
     background-color: red;
     bottom: 0px;
     height: calc(100% - 45px);
     left: 0px;
     list-style: outside none none;
     margin: 0px;
     overflow: auto;
     padding: 0px;
     position: absolute;
     width: 300px;
}

.order {
     border: 1px solid brown;
     cursor: pointer;
}

.order:hover {
     background-color: orange;
     color: black;
}

.selected {
     background: none repeat scroll 0% 0% white;
     border: 1px solid white;
}

body {
     background-color: #3b988e;
}

#orderContainer {
     background-color: white;
     bottom: 0px;
     height: calc(100% - 45px);
     position: absolute;
     left: 300px;
     width: 300px;
}

.group {
     margin: 2px;
     border-bottom:1px solid black;
     border-top:1px solid black;
}

#uploadReportDiv {
    position: absolute;
    width: calc(100% - 600px);
    height: calc(100% - 45px);
    background-color: burlywood;
    right: 0px;
    bottom: 0px;
    overflow:auto;
}
