#commandPanel button {
     border: medium ridge;
     cursor: pointer;
     font-size: x-large;
     width: 90px;
}

#commandPanel input {
     border: medium ridge;
     font-size: x-large;
     width: calc(100% - 200px);
}

#commandPanel {
     height: 38px;
     left: 5%;
     margin: 1px;
     position: absolute;
     top: 40px;
     width: 90%;
}

#tests {
     font-size: large;
     left: 2%;
     position: absolute;
     top: 80px;
     width: 96%;
}

#tests td {
     border: 1px solid blue;
     text-align: center;
}

.actionCell{
     width: 100px;
}

.nameCell{
     width: 40%;
}


.detailsCell{
     width: calc(60% - 100px);
}

#tests img {
    width: 25px;
}
