body{
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

#header {
    background-color: #3B988E;
    width: 100%;
    height: 40px;
    margin-top:0px;
    margin-left:0px;
    font-size: 30px;
}

#header a{
    color: #B6EAE8;
    text-decoration: none;
}


.navM{
    width: 25%;
    text-align:center;
}

.navM:hover{
    box-shadow: 10px 10px 50px 20px #165448 inset;
}


.navL {
    text-align: left;
}

.navR{
    text-align: right;
}
