select {
     border: 1px solid green;
     font-size: large;
     height: 40px;
     margin: 2px;
     position: absolute;
     text-align: center;
     width: 40%;
}

#daySelect {
     right: 5%;
}

#groupSelect {
     left: 5%;
}

#groupDetails {
    position: absolute;
    top: 90px;
    border: 1px solid black;
    width: 90%;
    left: 5%;
}

